<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 允许 App 访问互联网 (必须，否则无法请求 B 站数据) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 允许 App 检查网络状态 (比如判断有没有连网，可选但推荐) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 允许 App 写入外部存储 (为了适配低版本安卓，虽然高版本用不太多，但为了保险先加上) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 【新增】读取存储权限 (旧版安卓用) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 【新增】读取音频权限 (Android 13+ 新版安卓用) -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiliDownloader"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BiliDownloader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>